<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="" />
    <add key="omsWorkspaceId" value="" />
    <add key="omsWorkspaceKey" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
    <sources>
      <source name="OMS" switchValue="Verbose">
        <listeners>
          <!--<clear />-->
          <add name="console" />
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="XEL2OMS.log" traceOutputOptions="DateTime" />
      </sharedListeners>
  </system.diagnostics>
</configuration>